.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  display: flex;
  color: black;
  position: fixed;
  justify-content: space-between;
  background-color: #fbf8b7;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.iconsContainer li {
  margin-bottom: 36px;
  list-style-type: none;
}

.activeIcon {
  opacity: 1;
}
