.childrenContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rowContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linkContainer {
  padding: 20px;
}

.rowContainer > * {
  flex: 1;
}
